<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Star Rating</th>
    <th>Description</th>
    <th>Cuisine</th>
  </tr>
</table>

<tbody>
  <% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.name %></td>
    <td><%= restaurant.city %></td>
    <td><%= restaurant.star_rating %></td>
    <td><%= restaurant.description %></td>
    <td><%= restaurant.cuisine %></td>
  </tr>
  <% end %>
</tbody>